html, body {
    background-color: white;
    overflow: hidden;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section{
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.date{
    color: #dc58b2;
}